<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
This is a simple exercise for <em> RAD Tute Week 6 </em>
</p>
<p> Feel free to <a href="mailto:XXXXX@student.rmit.edu.au">email me</a>.</p>
<li><%= link_to "About", about_url %></li>
